.zh-ca-container{
     /* display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center; */
    width: 100%;
    min-height: 50vh;
    background-image: url(../../assets/images/olav-ahrens-rotne-jvBXiynINGE-unsplash\ \(2\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    position: relative;
    /* background-color: #d9c2c216; */
}
.zh-ca-container::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.4;
    width: 100%;
    height: 100%;
}

.zh-ca-container h1{
    color: var(--pargraph-color);
    margin:3% 0;
    text-align: center;
}

.zh-ca-inner{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100vh;
    width: 85%;
    margin: 0 auto;
}